## Import Library

In [ ]:
# Packages for EDA (Exploratory Data Analyst)
import pandas as pd
import numpy as np

# Load Data from drive
from google.colab import drive

# For random data for data with rating 4/5
import random

# For read file in folder
import glob

## Load and Read Data

In [ ]:
# Connect to drive
drive.mount('/content/drive')

Mounted at /content/drive

## Define Path Folder

In [ ]:
## Restoran Lokal
### Mahal
path_file_restoran_lokal_mahal = '/content/drive/My Drive/Skripsi/Data_Teks_Gambar/Lokal/Mahal/'

### Murah
path_file_restoran_lokal_murah = '/content/drive/My Drive/Skripsi/Data_Teks_Gambar/Lokal/Murah/'

## Restoran Mancanegara
### Jepang
path_file_restoran_mancanegara_jepang = '/content/drive/My Drive/Skripsi/Data_Teks_Gambar/Mancanegara/Jepang/'

### China
path_file_restoran_mancanegara_china = '/content/drive/My Drive/Skripsi/Data_Teks_Gambar/Mancanegara/China/'

### Korea
path_file_restoran_mancanegara_korea = '/content/drive/My Drive/Skripsi/Data_Teks_Gambar/Mancanegara/Korea/'

### Barat
path_file_restoran_mancanegara_barat = '/content/drive/My Drive/Skripsi/Data_Teks_Gambar/Mancanegara/Barat/'


## Restoran Seafood
### Mahal
path_file_restoran_seafood_mahal = '/content/drive/My Drive/Skripsi/Data_Teks_Gambar/Seafood/Mahal/'

### Murah
path_file_restoran_seafood_murah = '/content/drive/My Drive/Skripsi/Data_Teks_Gambar/Seafood/Murah/'

## Read File in Folder

In [ ]:
#import the modules
import os
import pandas as pd
# name file
data_name = 'seafood_murah'
# number random
num_random = 150
#read the path
file_path = path_file_restoran_seafood_murah
#list all the files from the directory
file_list = os.listdir(file_path)
file_list

['data_cabe_ijo_live_seafood_14_0_0.xlsx',
 'data_dcost_seafood_palembang_hr_0_1_2.xlsx',
 'data_dcost_seafood_palembang_lr_4_1_2.xlsx',
 'data_ikan_bakar_cianjur_hr_20_0_0.xlsx',
 'data_ikan_bakar_cianjur_lr_51_15_2.xlsx',
 'data_ikan_bakar_djonikun_lr_5_3_1.xlsx',
 'data_ikan_bakar_yayat_2_hr_12_0_0.xlsx',
 'data_ikan_bakar_yayat_2_lr_7_4_0.xlsx',
 'data_kampung_seafood_hr_5_0_0.xlsx',
 'data_kampung_seafood_lr_3_4_3.xlsx',
 'data_kepiting_cak_gundul_hr_20_0_0.xlsx',
 'data_kepiting_cak_gundul_lr_14_6_4.xlsx',
 'data_kepiting_house_angkatan_45_hr_7_0_0.xlsx',
 'data_kepiting_house_angkatan_45_lr_3_1_1.xlsx',
 'data_lesehan_lombok_ijo_3_hr_6_0_0.xlsx',
 'data_lesehan_lombok_ijo_3_lr_6_2_2.xlsx',
 'data_mr_crab_seafood_lr_7_0_1.xlsx',
 'data_new_dinar_seafood_hr_16_0_0.xlsx',
 'data_new_dinar_seafood_lr_11_6_4.xlsx',
 'data_parit_9_seafood_hr_17_0_0.xlsx',
 'data_pondok_sedap_malam_4_1_0.xlsx',
 'data_rm_nelayan_hr_19_0_0.xlsx',
 'data_rm_nelayan_lr_18_4_2.xlsx',
 'data_rumah_makan_taman_new_aroma_lr_13_4_6.xlsx',
 'data_seafood_68_santa_lr_0_11_5.xlsx',
 'data_seafood_bu_ratna_12_0_1.xlsx',
 'data_seafood_pak_jari_19_4_2.xlsx',
 'data_seafood_pak_sangklak_48_3_4.xlsx',
 'data_sentosa_seafood_palembang_hr_18_0_0.xlsx',
 'data_sentosa_seafood_palembang_lr_5_0_2.xlsx',
 'data_the_holy_crab_lr_21_5_2.xlsx',
 'data_artomoro_seafood_hr_18_0_0.xlsx',
 'data_artomoro_seafood_lr_0_6_5.xlsx',
 'data_asui_seafood_hr_17_0_0.xlsx',
 'data_asui_seafood_lr_8_14_4.xlsx',
 'data_ikan_bakar_bang_jaja_seafood_genteng_2_hr_16_0_0.xlsx',
 'data_ikan_bakar_bang_jaja_seafood_genteng_2_lr_0_18_6.xlsx',
 'data_jimbaran_resto_cirebon_hr_3_0_0.xlsx',
 'data_jimbaran_resto_cirebon_lr_2_1_2.xlsx',
 'data_sari_laut_kapasan_hr_14_0_0.xlsx',
 'data_sari_laut_kapasan_lr_0_12_2.xlsx',
 'data_seafood_genteng_bang_jaja_hr_13_0_0.xlsx',
 'data_seafood_genteng_bang_jaja_lr_0_3_4.xlsx',
 'data_seafood_pak_purwanto_hr_15_0_0.xlsx',
 'data_seafood_pak_purwanto_lr_0_8_3.xlsx',
 'data_ikan_bakar_kinamang_hr_11_0_0.xlsx',
 'data_ikan_bakar_kinamang_lr_0_0_3.xlsx',
 'data_sn_hr_10_0_0.xlsx',
 'data_sn_lr_0_1_4.xlsx',
 'data_warung_mami_ikan_bakar_lr_0_5_0.xlsx',
 'data_warung_mami_ikan_bakar_hr_10_0_0.xlsx',
 'data_kuliner_seafood_kampung_solor_hr_10_0_0.xlsx',
 'data_kuliner_seafood_kampung_solor_lr_0_8_5.xlsx',
 'data_suka_ramai_seafood_lr_0_5_1.xlsx',
 'data_suka_ramai_seafood_hr_10_0_0.xlsx',
 'data_hdl_293_seafood_lr_0_0_11.xlsx',
 'data_dabu_dabu_lemong_lr_0_10_7.xlsx',
 'data_dabu_dabu_lemong_hr_9_0_0.xlsx',
 'data_kerang_kiolan_cipete_lr_0_3_2.xlsx',
 'data_kerang_kiolan_cipete_hr_10_0_0.xlsx',
 'data_saefood_ade_fani_67_manggarai_lr_0_11_7.xlsx',
 'data_saefood_ade_fani_67_manggarai_hr_10_0_0.xlsx',
 'data_seafood_kiloan_bang_bopak_pusat_katamso_lr_0_19_3.xlsx',
 'data_seafood_kiloan_bang_bopak_pusat_katamso_hr_10_0_0.xlsx',
 'data_banda_saefood_lr_10_8_5.xlsx',
 'data_banda_saefood_hr_10_0_0.xlsx',
 'data_city_extra_lr_5_12_3.xlsx',
 'data_city_extra_hr_8_0_0.xlsx',
 'data_kurnia_seafood_semarang_hr_10_0_0.xlsx',
 'data_tuna_house_megamas_lr_0_4_2.xlsx',
 'data_tuna_house_megamas_hr_10_0_0.xlsx',
 'data_taman_santap_rumah_kayu_lr_0_9_11.xlsx',
 'data_saefood_ayu_lr_0_1_9.xlsx',
 'data_indah_seafood_94_lr_0_2_4.xlsx',
 'data_rumah_lobster_depok_lr_0_0_3.xlsx']

In [ ]:
df_append = pd.DataFrame()
#append all files together
for file in file_list:
            file_name = file_path + file
            df_temp = pd.read_excel(file_name)
            df_append = df_append.append(df_temp, ignore_index=True)
df_append

<ipython-input-25-eafd47446610>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
<ipython-input-25-eafd47446610>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
<ipython-input-25-eafd47446610>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
<ipython-input-25-eafd47446610>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
<ipython-input-25-eafd47446610>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
<ipython-input-25-eafd47446610>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
<ipython-input-25-eafd47446610>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
<ipython-input-25-eafd47446610>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
<ipython-input-25-eafd47446610>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
<ipython-input-25-eafd47446610>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
<ipython-input-25-eafd47446610>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
<ipython-input-25-eafd47446610>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
<ipython-input-25-eafd47446610>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
<ipython-input-25-eafd47446610>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
<ipython-input-25-eafd47446610>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
<ipython-input-25-eafd47446610>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
<ipython-input-25-eafd47446610>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
<ipython-input-25-eafd47446610>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
<ipython-input-25-eafd47446610>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
<ipython-input-25-eafd47446610>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
<ipython-input-25-eafd47446610>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
<ipython-input-25-eafd47446610>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
<ipython-input-25-eafd47446610>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
<ipython-input-25-eafd47446610>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
<ipython-input-25-eafd47446610>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
<ipython-input-25-eafd47446610>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
<ipython-input-25-eafd47446610>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
<ipython-input-25-eafd47446610>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
<ipython-input-25-eafd47446610>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
<ipython-input-25-eafd47446610>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
<ipython-input-25-eafd47446610>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
<ipython-input-25-eafd47446610>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
<ipython-input-25-eafd47446610>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
<ipython-input-25-eafd47446610>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
<ipython-input-25-eafd47446610>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
<ipython-input-25-eafd47446610>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
<ipython-input-25-eafd47446610>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
<ipython-input-25-eafd47446610>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
<ipython-input-25-eafd47446610>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
<ipython-input-25-eafd47446610>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
<ipython-input-25-eafd47446610>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
<ipython-input-25-eafd47446610>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
<ipython-input-25-eafd47446610>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
<ipython-input-25-eafd47446610>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
<ipython-input-25-eafd47446610>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
<ipython-input-25-eafd47446610>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
<ipython-input-25-eafd47446610>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
<ipython-input-25-eafd47446610>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
<ipython-input-25-eafd47446610>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
<ipython-input-25-eafd47446610>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
<ipython-input-25-eafd47446610>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
<ipython-input-25-eafd47446610>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
<ipython-input-25-eafd47446610>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
<ipython-input-25-eafd47446610>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
<ipython-input-25-eafd47446610>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
<ipython-input-25-eafd47446610>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
<ipython-input-25-eafd47446610>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
<ipython-input-25-eafd47446610>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
<ipython-input-25-eafd47446610>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
<ipython-input-25-eafd47446610>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
<ipython-input-25-eafd47446610>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
<ipython-input-25-eafd47446610>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
<ipython-input-25-eafd47446610>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
<ipython-input-25-eafd47446610>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
<ipython-input-25-eafd47446610>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
<ipython-input-25-eafd47446610>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
<ipython-input-25-eafd47446610>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
<ipython-input-25-eafd47446610>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
<ipython-input-25-eafd47446610>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
<ipython-input-25-eafd47446610>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
<ipython-input-25-eafd47446610>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
<ipython-input-25-eafd47446610>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
<ipython-input-25-eafd47446610>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
<ipython-input-25-eafd47446610>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
<ipython-input-25-eafd47446610>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)

,Unnamed: 0,name,review_datetime_utc,review_img_url,review_rating,review_text
0,0,CABE IJO LIVE SEAFOOD,06/21/2022 09:48:45,https://lh5.googleusercontent.com/p/AF1QipOBev...,5,Mantap sekali sajian makanannya. Paling suka s...
1,1,CABE IJO LIVE SEAFOOD,12/04/2022 15:06:20,https://lh5.googleusercontent.com/p/AF1QipOzhf...,4,"Masakannya enak, tempatnya luas dan nyaman. Ti..."
2,2,CABE IJO LIVE SEAFOOD,01/28/2022 06:07:38,https://lh5.googleusercontent.com/p/AF1QipMHWt...,4,Kami pesan beberapa jenis masakan untuk acara ...
3,3,CABE IJO LIVE SEAFOOD,12/05/2021 05:39:45,https://lh5.googleusercontent.com/p/AF1QipOt1z...,5,BAIK BGT OWNERNY!! Ini tu masih baru tp servic...
4,4,CABE IJO LIVE SEAFOOD,01/29/2022 12:12:46,https://lh5.googleusercontent.com/p/AF1QipPVJt...,5,Tempat ini menyajikan berbagai macam aneka ola...
...,...,...,...,...,...,...
1036,79,Indah Seafood 94,04/01/2018 14:52:13,https://lh5.googleusercontent.com/p/AF1QipMzyY...,3,Kata temen sih mantap kerang dan cuminya. Saya...
1037,81,Indah Seafood 94,06/13/2018 07:16:25,https://lh5.googleusercontent.com/p/AF1QipMSmm...,3,"Kalo disini warung seafoodnya besar, kalo ker..."
1038,0,RUMAH LOBSTER DEPOK,07/27/2018 00:05:15,https://lh5.googleusercontent.com/p/AF1QipPwhJ...,1,Aneh ya mau pesen varian kerang ga boleh katan...
1039,1,RUMAH LOBSTER DEPOK,06/22/2022 12:12:15,https://lh5.googleusercontent.com/p/AF1QipMC0f...,1,Sangat mengecewakan..rasa gak karuan..karywan ...
1040,2,RUMAH LOBSTER DEPOK,03/07/2021 10:47:39,https://lh5.googleusercontent.com/p/AF1QipM8R-...,1,"Tempat tidak terawat, ada menu yang berubah ta..."

In [ ]:
#drop column with index 0 by index
df_append.drop(df_append.columns[[0]], axis=1, inplace=True)

In [ ]:
df_append.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1041 entries, 0 to 1040
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   name                 1041 non-null   object
 1   review_datetime_utc  1041 non-null   object
 2   review_img_url       1041 non-null   object
 3   review_rating        1041 non-null   int64
 4   review_text          1041 non-null   object
dtypes: int64(1), object(4)
memory usage: 40.8+ KB

In [ ]:
df_append.duplicated().sum()

5

In [ ]:
df_append.shape

(1041, 5)

In [ ]:
df_append = df_append.drop_duplicates()

In [ ]:
df_append.shape

(1036, 5)

In [ ]:
# mendapatkan data dengan rating 1
rat_neg = df_append.index[(df_append['review_rating']==1) | (df_append['review_rating']==2)].to_list()
# mengambil data random sebanyak 75/150 dari data rating negatif
rat_neg = random.sample(rat_neg, num_random)
rat_neg = set(rat_neg)
rat_neg = list(rat_neg)

# mendapatkan data dengan rating 3
rat_neu = df_append.index[(df_append['review_rating']==3)].to_list()
# mengambil data random sebanyak 75/150 dari data rating neutral
rat_neu = random.sample(rat_neu, num_random)
rat_neu = set(rat_neu)
rat_neu = list(rat_neu)

# mendapatkan data dengan rating 4 atau 5
rat_pos = df_append.index[(df_append['review_rating']==4) | (df_append['review_rating']==5)].to_list()
# mengambil data random sebanyak 75/150 dari data rating positif
rat_pos = random.sample(rat_pos, num_random)
rat_pos = set(rat_pos)
rat_pos = list(rat_pos)

# indeks gabungan rating 1,2,3,4,5
gab_pos_neu_neg = rat_pos + rat_neu + rat_neg

print('Rating Negative : ')
print(rat_neg)
print(len(rat_neg),'\n')

print('Rating Neutral : ')
print(rat_neu)
print(len(rat_neu),'\n')

print('Rating Positive : ')
print(rat_pos)
print(len(rat_pos),'\n')

print('Rating Gabungan : ')
print(gab_pos_neu_neg)
print(len(gab_pos_neu_neg),'\n')

Rating Negative :
[1024, 1025, 1026, 1027, 1028, 1029, 1030, 1032, 1033, 1034, 1035, 14, 1039, 1040, 15, 1038, 544, 545, 546, 547, 548, 44, 45, 572, 573, 574, 575, 614, 615, 616, 617, 618, 619, 112, 641, 642, 660, 661, 149, 151, 150, 687, 688, 689, 690, 179, 180, 181, 182, 709, 710, 711, 855, 210, 731, 732, 221, 222, 733, 231, 744, 745, 746, 747, 255, 256, 257, 258, 774, 775, 776, 777, 778, 787, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 317, 318, 840, 841, 341, 342, 343, 856, 857, 346, 859, 860, 858, 861, 345, 344, 364, 365, 366, 367, 368, 883, 884, 885, 380, 393, 394, 915, 916, 917, 918, 919, 418, 419, 420, 421, 948, 949, 950, 986, 987, 1002, 1003, 1004, 1005, 491, 1007, 492, 1009, 498, 1011, 1012, 1010, 499, 1006, 1008, 1022, 1023]
150

Rating Neutral :
[1031, 1036, 1037, 16, 549, 550, 553, 554, 48, 49, 51, 52, 54, 55, 57, 58, 59, 60, 576, 577, 579, 581, 583, 584, 585, 586, 588, 589, 620, 623, 625, 114, 115, 113, 629, 631, 632, 635, 637, 643, 133, 134, 663, 152, 154, 666, 669, 671, 672, 673, 692, 183, 187, 188, 712, 713, 714, 715, 716, 717, 719, 748, 749, 750, 751, 752, 753, 259, 260, 262, 263, 264, 779, 780, 783, 784, 785, 786, 789, 791, 792, 823, 824, 826, 827, 829, 830, 319, 322, 842, 843, 844, 347, 349, 862, 863, 864, 865, 867, 868, 872, 369, 370, 373, 886, 375, 376, 889, 377, 891, 888, 893, 894, 895, 896, 379, 899, 900, 902, 904, 396, 397, 920, 921, 922, 923, 924, 925, 926, 424, 951, 952, 953, 954, 956, 957, 958, 959, 960, 1016, 988, 500, 501, 1014, 503, 502, 1017, 1013, 1020, 1021]
150

Rating Positive :
[0, 513, 515, 521, 13, 527, 529, 530, 22, 536, 25, 27, 541, 29, 40, 559, 562, 563, 565, 566, 568, 71, 87, 600, 92, 605, 93, 94, 609, 102, 103, 107, 116, 118, 127, 639, 647, 137, 138, 651, 140, 141, 652, 655, 145, 156, 159, 674, 163, 164, 677, 681, 682, 683, 172, 174, 696, 697, 707, 196, 197, 708, 202, 203, 724, 725, 214, 215, 216, 217, 728, 729, 220, 734, 737, 741, 742, 756, 758, 250, 762, 763, 766, 769, 771, 268, 273, 277, 279, 794, 285, 797, 801, 292, 294, 302, 304, 305, 314, 315, 323, 333, 846, 335, 340, 854, 352, 353, 356, 875, 878, 391, 907, 908, 401, 407, 409, 410, 934, 936, 938, 940, 430, 431, 943, 945, 944, 942, 437, 442, 964, 965, 452, 455, 454, 453, 458, 966, 967, 462, 975, 470, 475, 476, 477, 995, 998, 487, 1001, 509]
150

Rating Gabungan :
[0, 513, 515, 521, 13, 527, 529, 530, 22, 536, 25, 27, 541, 29, 40, 559, 562, 563, 565, 566, 568, 71, 87, 600, 92, 605, 93, 94, 609, 102, 103, 107, 116, 118, 127, 639, 647, 137, 138, 651, 140, 141, 652, 655, 145, 156, 159, 674, 163, 164, 677, 681, 682, 683, 172, 174, 696, 697, 707, 196, 197, 708, 202, 203, 724, 725, 214, 215, 216, 217, 728, 729, 220, 734, 737, 741, 742, 756, 758, 250, 762, 763, 766, 769, 771, 268, 273, 277, 279, 794, 285, 797, 801, 292, 294, 302, 304, 305, 314, 315, 323, 333, 846, 335, 340, 854, 352, 353, 356, 875, 878, 391, 907, 908, 401, 407, 409, 410, 934, 936, 938, 940, 430, 431, 943, 945, 944, 942, 437, 442, 964, 965, 452, 455, 454, 453, 458, 966, 967, 462, 975, 470, 475, 476, 477, 995, 998, 487, 1001, 509, 1031, 1036, 1037, 16, 549, 550, 553, 554, 48, 49, 51, 52, 54, 55, 57, 58, 59, 60, 576, 577, 579, 581, 583, 584, 585, 586, 588, 589, 620, 623, 625, 114, 115, 113, 629, 631, 632, 635, 637, 643, 133, 134, 663, 152, 154, 666, 669, 671, 672, 673, 692, 183, 187, 188, 712, 713, 714, 715, 716, 717, 719, 748, 749, 750, 751, 752, 753, 259, 260, 262, 263, 264, 779, 780, 783, 784, 785, 786, 789, 791, 792, 823, 824, 826, 827, 829, 830, 319, 322, 842, 843, 844, 347, 349, 862, 863, 864, 865, 867, 868, 872, 369, 370, 373, 886, 375, 376, 889, 377, 891, 888, 893, 894, 895, 896, 379, 899, 900, 902, 904, 396, 397, 920, 921, 922, 923, 924, 925, 926, 424, 951, 952, 953, 954, 956, 957, 958, 959, 960, 1016, 988, 500, 501, 1014, 503, 502, 1017, 1013, 1020, 1021, 1024, 1025, 1026, 1027, 1028, 1029, 1030, 1032, 1033, 1034, 1035, 14, 1039, 1040, 15, 1038, 544, 545, 546, 547, 548, 44, 45, 572, 573, 574, 575, 614, 615, 616, 617, 618, 619, 112, 641, 642, 660, 661, 149, 151, 150, 687, 688, 689, 690, 179, 180, 181, 182, 709, 710, 711, 855, 210, 731, 732, 221, 222, 733, 231, 744, 745, 746, 747, 255, 256, 257, 258, 774, 775, 776, 777, 778, 787, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 317, 318, 840, 841, 341, 342, 343, 856, 857, 346, 859, 860, 858, 861, 345, 344, 364, 365, 366, 367, 368, 883, 884, 885, 380, 393, 394, 915, 916, 917, 918, 919, 418, 419, 420, 421, 948, 949, 950, 986, 987, 1002, 1003, 1004, 1005, 491, 1007, 492, 1009, 498, 1011, 1012, 1010, 499, 1006, 1008, 1022, 1023]
450

In [ ]:
data_fix = df_append.loc[gab_pos_neu_neg]

In [ ]:
data_fix.duplicated().sum()

0

In [ ]:
data_fix.shape

(450, 5)

In [ ]:
data_fix.head()

,name,review_datetime_utc,review_img_url,review_rating,review_text
0,CABE IJO LIVE SEAFOOD,06/21/2022 09:48:45,https://lh5.googleusercontent.com/p/AF1QipOBev...,5,Mantap sekali sajian makanannya. Paling suka s...
513,The Holy Crab,01/10/2019 04:19:02,https://lh5.googleusercontent.com/p/AF1QipPysR...,4,Pilihan saus nya enak banget. Kepiting nya jug...
515,The Holy Crab,05/02/2018 14:40:22,https://lh5.googleusercontent.com/p/AF1QipOuB0...,4,Enak tapi mahal
521,The Holy Crab,02/08/2020 16:46:48,https://lh5.googleusercontent.com/p/AF1QipMHKu...,4,New style source makes different feel to commo...
13,CABE IJO LIVE SEAFOOD,05/21/2021 17:01:06,https://lh5.googleusercontent.com/p/AF1QipO3Ei...,5,"Cobain Kepiting saus chilli, Udang rebus, Ikan..."

In [ ]:
data_fix.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 450 entries, 0 to 1023
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   name                 450 non-null    object
 1   review_datetime_utc  450 non-null    object
 2   review_img_url       450 non-null    object
 3   review_rating        450 non-null    int64
 4   review_text          450 non-null    object
dtypes: int64(1), object(4)
memory usage: 21.1+ KB

In [ ]:
data_fix.head()

,name,review_datetime_utc,review_img_url,review_rating,review_text
0,CABE IJO LIVE SEAFOOD,06/21/2022 09:48:45,https://lh5.googleusercontent.com/p/AF1QipOBev...,5,Mantap sekali sajian makanannya. Paling suka s...
513,The Holy Crab,01/10/2019 04:19:02,https://lh5.googleusercontent.com/p/AF1QipPysR...,4,Pilihan saus nya enak banget. Kepiting nya jug...
515,The Holy Crab,05/02/2018 14:40:22,https://lh5.googleusercontent.com/p/AF1QipOuB0...,4,Enak tapi mahal
521,The Holy Crab,02/08/2020 16:46:48,https://lh5.googleusercontent.com/p/AF1QipMHKu...,4,New style source makes different feel to commo...
13,CABE IJO LIVE SEAFOOD,05/21/2021 17:01:06,https://lh5.googleusercontent.com/p/AF1QipO3Ei...,5,"Cobain Kepiting saus chilli, Udang rebus, Ikan..."

In [ ]:
data_fix = data_fix.reset_index(drop=True)

In [ ]:
data_fix.head()

,name,review_datetime_utc,review_img_url,review_rating,review_text
0,CABE IJO LIVE SEAFOOD,06/21/2022 09:48:45,https://lh5.googleusercontent.com/p/AF1QipOBev...,5,Mantap sekali sajian makanannya. Paling suka s...
1,The Holy Crab,01/10/2019 04:19:02,https://lh5.googleusercontent.com/p/AF1QipPysR...,4,Pilihan saus nya enak banget. Kepiting nya jug...
2,The Holy Crab,05/02/2018 14:40:22,https://lh5.googleusercontent.com/p/AF1QipOuB0...,4,Enak tapi mahal
3,The Holy Crab,02/08/2020 16:46:48,https://lh5.googleusercontent.com/p/AF1QipMHKu...,4,New style source makes different feel to commo...
4,CABE IJO LIVE SEAFOOD,05/21/2021 17:01:06,https://lh5.googleusercontent.com/p/AF1QipO3Ei...,5,"Cobain Kepiting saus chilli, Udang rebus, Ikan..."

In [ ]:
indx_1 = data_fix[data_fix['review_rating'] == 1].index
indx_2 = data_fix[data_fix['review_rating'] == 2].index
indx_3 = data_fix[data_fix['review_rating'] == 3].index
indx_4 = data_fix[data_fix['review_rating'] == 4].index
indx_5 = data_fix[data_fix['review_rating'] == 5].index

print('rating 1 : ',len(indx_1)) # 6
print('rating 2 : ',len(indx_2)) # 3
print('rating 3 : ',len(indx_3)) # 3
print('rating 4 : ',len(indx_4)) # 16
print('rating 5 : ',len(indx_5)) # 72
print('\n')
print('Review Negatif (1,2) : ',len(indx_1)+len(indx_2))
print('Review Netral (3) : ',len(indx_3))
print('Review Positif (4,5) : ',len(indx_4)+len(indx_5))

rating 1 :  82
rating 2 :  68
rating 3 :  150
rating 4 :  47
rating 5 :  103


Review Negatif (1,2) :  150
Review Netral (3) :  150
Review Positif (4,5) :  150

## Export Data

In [ ]:
# Define function export data to export dataframe to csv file
	
from google.colab import files
def export_data(df,data_name,neg,neu,pos):
  name_file = data_name+'_'+str(pos)+'_'+str(neu)+'_'+str(neg)+'.xlsx'
  df.to_excel(name_file)
  files.download(name_file)
  msg = 'Success Export Data'
  return msg

In [ ]:
# Define parameter's variabel
neg = len(indx_1)+len(indx_2)
neu = len(indx_3)
pos = len(indx_4)+len(indx_5)

# Apply Function
export_data(data_fix,data_name,neg,neu,pos)

'Success Export Data'

In [ ]:
data_fix.duplicated().sum()

0

In [ ]:
data_fix.shape

(450, 5)