## Import Library

In [27]:
# Packages for EDA (Exploratory Data Analyst)
import pandas as pd
import numpy as np

# Load Data from drive
from google.colab import drive

# For random data
import random

# For read file in folder
import glob

import os

from google.colab import files

## Load and Read Data

In [2]:
# Connet to Drive
drive.mount('/content/drive')

Mounted at /content/drive

## Define Path Folder

In [3]:
# Root Folder
path_folder = '/content/drive/My Drive/Bismillah_Skripsi_Bisa_Amiiin/Data_Skripsi_Fix/'

# Folder Data Clean v1
path_data_clean_v1 = path_folder + 'v1_version_with_stemming/'

# Folder Data Clean v2
path_data_clean_v2 = path_folder + 'v2_version_without_stemming/'

## Read File in Folder

In [32]:
# folder path focus
focus_folder_path = path_data_clean_v2

# train folder path
train_folder_path = focus_folder_path + 'train/'

# validation folder path
validation_folder_path = focus_folder_path + 'val/'

# test folder path
test_folder_path = focus_folder_path + 'test/'

# read the folder path 
train_path = train_folder_path
val_path = validation_folder_path
test_path = test_folder_path

# read all the files from the directory
train_file_list = os.listdir(train_path)
val_file_list = os.listdir(val_path)
test_file_list = os.listdir(test_path)

In [33]:
train_file_list

['seafood_murah_train.xlsx',
 'seafood_mahal_train.xlsx',
 'mancanegara_barat_train.xlsx',
 'mancanegara_korea_train.xlsx',
 'mancanegara_china_train.xlsx',
 'mancanegara_jepang_train.xlsx',
 'lokal_murah_train.xlsx',
 'lokal_mahal_train.xlsx']

In [34]:
val_file_list

['seafood_murah_val.xlsx',
 'seafood_mahal_val.xlsx',
 'mancanegara_barat_val.xlsx',
 'mancanegara_korea_val.xlsx',
 'mancanegara_china_val.xlsx',
 'mancanegara_jepang_val.xlsx',
 'lokal_murah_val.xlsx',
 'lokal_mahal_val.xlsx']

In [35]:
test_file_list

['seafood_murah_test.xlsx',
 'seafood_mahal_test.xlsx',
 'mancanegara_barat_test.xlsx',
 'mancanegara_korea_test.xlsx',
 'mancanegara_china_test.xlsx',
 'mancanegara_jepang_test.xlsx',
 'lokal_murah_test.xlsx',
 'lokal_mahal_test.xlsx']

## Merge File

In [36]:
def merge_file(file_list,file_path):
  df_append = pd.DataFrame()
  # append al files together
  for file in file_list:
    file_name = file_path + file
    df_temp = pd.read_excel(file_name)
    df_append = df_append.append(df_temp, ignore_index=True)
  return df_append

In [37]:
train_data = merge_file(train_file_list,train_path)

<ipython-input-36-3c8b7b57ce54>:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
<ipython-input-36-3c8b7b57ce54>:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
<ipython-input-36-3c8b7b57ce54>:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
<ipython-input-36-3c8b7b57ce54>:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
<ipython-input-36-3c8b7b57ce54>:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
<ipython-input-36-3c8b7b57ce54>:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
<ipython-input-36-3c8b7b57ce54>:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
<ipython-input-36-3c8b7b57ce54>:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)

In [38]:
val_data = merge_file(val_file_list,val_path)

<ipython-input-36-3c8b7b57ce54>:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
<ipython-input-36-3c8b7b57ce54>:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
<ipython-input-36-3c8b7b57ce54>:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
<ipython-input-36-3c8b7b57ce54>:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
<ipython-input-36-3c8b7b57ce54>:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
<ipython-input-36-3c8b7b57ce54>:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
<ipython-input-36-3c8b7b57ce54>:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
<ipython-input-36-3c8b7b57ce54>:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)

In [39]:
test_data = merge_file(test_file_list,test_path)

<ipython-input-36-3c8b7b57ce54>:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
<ipython-input-36-3c8b7b57ce54>:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
<ipython-input-36-3c8b7b57ce54>:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
<ipython-input-36-3c8b7b57ce54>:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
<ipython-input-36-3c8b7b57ce54>:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
<ipython-input-36-3c8b7b57ce54>:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
<ipython-input-36-3c8b7b57ce54>:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)
<ipython-input-36-3c8b7b57ce54>:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df_temp, ignore_index=True)

In [40]:
# show 5 first data of train_data
train_data.head()

,Unnamed: 0,name,review_img_url,review_rating,review_text,review_date
0,0,CABE IJO LIVE SEAFOOD,https://lh5.googleusercontent.com/p/AF1QipOBev...,2,mantap sajian makanannya suka udang rebus ikan...,2022-06-21
1,2,The Holy Crab,https://lh5.googleusercontent.com/p/AF1QipOuB0...,2,enak mahal,2018-05-02
2,4,CABE IJO LIVE SEAFOOD,https://lh5.googleusercontent.com/p/AF1QipO3Ei...,2,cobain kepiting saus chilli udang rebus ikan k...,2021-05-21
3,5,Artomoro Sea Food,https://lh5.googleusercontent.com/p/AF1QipNt4B...,2,harga makanannya murah porsinya sesuai harga b...,2022-10-28
4,6,Artomoro Sea Food,https://lh5.googleusercontent.com/p/AF1QipNV7-...,2,makanan enak miscall saos tiram ikan baronang ...,2022-05-26

In [41]:
# show 5 first data of val_data
val_data.head()

,Unnamed: 0,name,review_img_url,review_rating,review_text,review_date
0,320,Artomoro Sea Food,https://lh5.googleusercontent.com/p/AF1QipPlSO...,0,makan ekstra sabaaarrrrr kehilangan nafsu maka...,2019-08-30
1,354,Ikan Bakar Kinamang,https://lh5.googleusercontent.com/p/AF1QipOGPX...,0,pesan tuna ikan bakar nunggu nya menit kondisi...,2022-04-08
2,387,Dabu Dabu Lemong Restaurant,https://lh5.googleusercontent.com/p/AF1QipO7BJ...,0,pelayannya ramah harga kebersihan memesan misc...,2020-10-20
3,389,Dabu Dabu Lemong Restaurant,https://lh5.googleusercontent.com/p/AF1QipMGmV...,0,sayang nya princip cashless tidak mesin edc br...,2020-03-17
4,326,Asui Seafood,https://lh5.googleusercontent.com/p/AF1QipMf1L...,0,gak label halal gak netral,2020-01-16

In [42]:
# show 5 first data of test_data
test_data.head()

,Unnamed: 0,name,review_img_url,review_rating,review_text,review_date
0,301,Seafood Ayu,https://lh5.googleusercontent.com/p/AF1QipOTsm...,0,makanan tidak sebanding antrian,2018-10-13
1,305,Seafood Ayu,https://lh5.googleusercontent.com/p/AF1QipMIKE...,0,NaN,2019-12-26
2,318,Artomoro Sea Food,https://lh5.googleusercontent.com/p/AF1QipOtf1...,0,antian gak aturan disuruh catat pesanan nunggu...,2019-05-30
3,344,Seafood genteng Bang Jaja,https://lh5.googleusercontent.com/p/AF1QipPtB1...,0,oke dateng kesini pembeli pesan nasi bawal gor...,2023-02-04
4,352,Seafood Ade Fani 67 (Manggarai),https://lh5.googleusercontent.com/p/AF1QipN-aj...,0,sumpah iya teman teman makan baik pikir ratusa...,2022-12-04

In [43]:
#drop column with index 0 by index
train_data.drop(train_data.columns[[0]], axis=1, inplace=True)

In [44]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2160 entries, 0 to 2159
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            2160 non-null   object
 1   review_img_url  2160 non-null   object
 2   review_rating   2160 non-null   int64
 3   review_text     2160 non-null   object
 4   review_date     2160 non-null   datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 84.5+ KB

In [45]:
train_data[train_data.isnull().any(axis=1)]

Empty DataFrame
Columns: [name, review_img_url, review_rating, review_text, review_date]
Index: []

In [46]:
#drop column with index 0 by index
val_data.drop(val_data.columns[[0]], axis=1, inplace=True)

In [47]:
val_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270 entries, 0 to 269
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            270 non-null    object
 1   review_img_url  270 non-null    object
 2   review_rating   270 non-null    int64
 3   review_text     270 non-null    object
 4   review_date     270 non-null    datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 10.7+ KB

In [48]:
val_data[val_data.isnull().any(axis=1)]

Empty DataFrame
Columns: [name, review_img_url, review_rating, review_text, review_date]
Index: []

In [49]:
#drop column with index 0 by index
test_data.drop(test_data.columns[[0]], axis=1, inplace=True)

In [50]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270 entries, 0 to 269
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            270 non-null    object
 1   review_img_url  270 non-null    object
 2   review_rating   270 non-null    int64
 3   review_text     268 non-null    object
 4   review_date     270 non-null    datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 10.7+ KB

In [51]:
test_data[test_data.isnull().any(axis=1)]

,name,review_img_url,review_rating,review_text,review_date
1,Seafood Ayu,https://lh5.googleusercontent.com/p/AF1QipMIKE...,0,NaN,2019-12-26
148,Warung Laota Sunset Road,https://lh5.googleusercontent.com/p/AF1QipNgCw...,1,NaN,2022-06-07

In [52]:
# df_shuffle = df_copy.sample(frac=1)
# df_shuffle.head(50)

## Export Data

In [53]:
def export_data(df,data_name):
  name_file = data_name+'.xlsx'
  df.to_excel(name_file)
  files.download(name_file)
  msg = 'Success Export Data'
  return msg

In [54]:
export_data(train_data,'train')

'Success Export Data'

In [55]:
export_data(val_data,'validation')

'Success Export Data'

In [56]:
export_data(test_data,'test')

'Success Export Data'